# Visual Studio directory
.vs/

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Unity
[Ll]ibrary/
[Tt]emp/
[Bb]uilds/
[Uu]ser[Ss]ettings/
/UnityProject/Backbone-Template-Project/*.csproj
/UnityProject/Backbone-Template-Project/*.sln